@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

}

header {
  padding: 15px 0;
  background-color: black;
  border-bottom: 3px solid #32b9cd;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.titulo {
  color: #32b9cd;
  font-size: 14px;
}

.navegacao {
  width: 350px;
  color: #3affff;
}

.navegacao ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navegacao ul li {
  font-size: 1rem;
  cursor:pointer;
}

.agora {
  font-weight: bold;
}
.banner {
  background-image: url('./assets/img/bg-jelly-fish-para_outras_pags.png');
  padding: 100px 100px;
  background-size: cover;
}
.banner .container { 
  height: 350px;
align-items: center;
justify-content: center;
}

.banner p {
  color: rgb(96, 191, 255);
  font-size: 1cm;
  width: 200px; 
}

.banner p b {
  color: rgb(2, 2, 175);
}
.social {
  margin: 50px 0px;
}
.social .caixas {
  display: flex;
  
}
.caixas {
  background-color: navajowhite;
  display: flex;
  align-items: center;
  flex-direction: space-between;
}
.caixas img{
  width: 270px;
  display: flex;
}

.caixa p {
  text-align: center;
  flex-direction: column;
  margin: 0px 10px;
}
.caixa h4 {
  text-align: center;
  margin: 15px 0px;
  color: blue;
}
footer { background-color: darkslategray;
  padding: 45px 0px
}

footer .container {
  justify-content: center;
}

footer p {
  color: aqua;
}